kicad/*-backups/
fp-info-cache
kicad/production
kicad/fabrication-toolkit-options.json
kicad/\#auto_saved_files\#
kicad/_autosave-block_diagram_sch.kicad_sch
kicad/spinali_mcxn_t1_hub.kicad_prl
kicad/spinali_mcxn_t1_hub.kicad_prl
